
<h2 mat-dialog-title>{{'Task.create-task' | translate}}</h2>
<mat-dialog-content>
    <form [formGroup]="taskForm">
        <mat-form-field>
          <input matInput type="text" id="title" formControlName="title">
          <mat-label>{{'Task.title' | translate}}:</mat-label>
          <mat-error *ngIf="taskForm.get('title')?.hasError('duplicateTitle')">
            {{'Task.duplicate' | translate}}
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <textarea matInput type="text" id="user" formControlName="description"></textarea>
          <mat-label>{{'Task.description' | translate}}:</mat-label>
        </mat-form-field>
      </form>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-raised-button mat-dialog-close color="warn" [disabled]="loadingService.loading$ | async">{{'Task.cancel' | translate}}</button>
    <button mat-raised-button color="primary" (click)="createTask()" [disabled]="loadingService.loading$ | async">
        <span>{{'Task.create' | translate}}</span>
    </button>
</mat-dialog-actions>