<section class="home">
    <div class="container">
        <div class="home_content">
            <div class="home_tasks_wrapper">
                <div class="home_tasks_create">
                    <button mat-raised-button color="primary" (click)="openCreateTaskDialog()">{{'Task.new-task' | translate}}</button>
                </div>
                <ul class="home_tasks">
                    <ng-container *ngIf="tasks$ | async as tasks">
                        <ng-container *ngIf="tasks.length > 0; else noTasksFound">
                            <ng-container *ngFor="let task of tasks">
                                <li class="home_tasks_block" [appTaskCompleteness]="task.completed">
                                    <div class="home_tasks_block_content" [style.align-items]="'center'">
                                        <span>{{task.title}}</span>
                                        <mat-checkbox [checked]="task.completed ? true : false" (click)="updateTaskCompleteness(task)" #checkbox>
                                            {{task.description}}
                                        </mat-checkbox>
                                    </div>
                                    <div class="home_tasks_block_content">
                                        <div class="home_tasks_block_content_actions">
                                            <mat-icon color="accent" class="home_tasks_block_icon" (click)="openEditTaskDialog(task)">
                                                edit
                                            </mat-icon>
                                            <mat-icon class="home_tasks_block_icon" color="warn" (click)="openDeleteTaskDialog(task)">
                                                delete
                                            </mat-icon>
                                        </div>
                                        <p>{{task.created_at | date: 'short'}}</p>
                                    </div>
                                </li>
                            </ng-container>
                        </ng-container>
                        <ng-template #noTasksFound>
                            <div class="home_tasks_not_found">
                                <h3>{{'Task.no-task' | translate}}</h3>
                            </div>
                        </ng-template>
                    </ng-container>
                </ul>
            </div>
        </div>
    </div>
</section>